{{template "header.html" "styles.css"}}
<main>
    <h1>Register</h1>
    <form id="register-form">
        <input type="text" id="username" placeholder="Username" required>
        <input type="text" id="first_name" placeholder="First Name" required>
        <input type="password" id="password" placeholder="Password" required>
        <button type="submit">Register</button>
    </form>
    <p id="message"></p>

    <script>
        document.getElementById('register-form').addEventListener('submit', async (event) => {
            event.preventDefault();
            const username = document.getElementById('username').value;
            const firstName = document.getElementById('first_name').value;
            const password = document.getElementById('password').value;

            try {
                const response = await fetch('/api/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ username, first_name: firstName, password })
                });

                const data = await response.json();
                document.getElementById('message').textContent = data.message;

                if (response.ok) {
                    window.location.href = "/login";
                }
            } catch (error) {
                console.error('Registration error:', error);
                document.getElementById('message').textContent = 'An error occurred during registration.';
            }
        });
    </script>
</main>
{{template "footer.html" .}}
